.container {
    display: flex; /* manipular el contenido del contenedor */
    justify-content: center;
     align-items: center;
 }

 body{
    background-color: #59abe3;
 }

 p:before{
    content: attr(type);/*Para que se muestre el atributo type*/
    display: block;/*Para que se muestre en una linea diferente cada elemnto html*/
    margin: 3px;
    font-size: 17px;
    color: #5a5a5a;
 }
 
 input{
    width: 280px;
    border: none;
    border-bottom: 2px solid #bebed2;
    background: none;/*Para que no se muestre el fondo blanco*/
 }
 
 input:focus{
    outline: none; /*Para que no se muestre el borde al seleccionar el input*/
    border-bottom: 2px solid #b1b1c5
 }

 h2{
    margin: 10px 2px;/*Margen arriba y abajo 10px y a los lados 2px*/
    width: 180px;/*Ancho*/
    color: #78788c;
    border-bottom: 3px solid #78788c;
 }
  
 form{
    width: 300px;
    height: 425px;
    background: #e6e6e6;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
    box-shadow: 15px 10px 5px 5px rgb(10, 10, 10);/*Sombra*/
 }